/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14-oct-2021, 19:44:33
    Author     : gonza
*/


h1, h2, h3{
    font-family: 'Ranchers', cursive;
}

p, a{
    font-family: 'Long Cang', cursive;
}

.portada{
    width: 20%;
}

#cabezera{
    background-color: #c40088;

}

#enviar{
    color: white;
    text-decoration: none;
}

#img1{
   
    width: 150px;
    height: 150px;
    margin-top: 25px;
  
}

.actualizar{
    text-decoration: none;
    color: white;
}

.enviar{
    background-color: blue;
}

#footer{
    position: fixed;
    bottom: 0;
}

.accordion-body{
    background-image: url(../administrador.jpg);
}