/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14-oct-2021, 19:39:22
    Author     : gonza
*/

h1, h2, h3{
    font-family: 'Ranchers', cursive;
}

p, a{
    font-family: 'Long Cang', cursive;
}

#title-enroll{
    background-image: url(../img_index/subtitulo.jpg);
    color: white;
    text-align: center;
}

.inicio{
    color: white;
    text-decoration: none;
}

.portada{
    width: 20%;
}

#cabezera{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(176,132,19,1) 0%, rgba(10,10,84,1) 0%, rgba(150,4,147,1) 100%);

}

#container{
    margin: auto;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(176,132,19,1) 0%, rgba(10,10,84,1) 0%, rgba(150,4,147,1) 100%);
    color: white;
}

.carousel{
    width: 50%;
    height: 30rem;
    margin: auto;
}

#carouselExampleCaptions{
    margin-top: 2%;
}

.inscribirse{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(176,132,19,1) 0%, rgba(10,10,84,1) 0%, rgba(150,4,147,1) 100%);
    padding: 2%;
    text-align: center;
    color: white;
}



