input{
    margin-bottom: 2vw;
    font-family: 'Rubik', sans-serif;
}

div{
    color: white;
    width: 55vh; 
    height: 30vh; 
    margin: auto; 
    margin-top: 35vh;
    
}

body{
    background-image: url(../img_login/login.png);
    font-family: 'Rubik', sans-serif;
}

a{
    text-decoration: none;
}