body{
    background-image: url(../img_login/infex.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#cabezera{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(176,132,19,1) 0%, rgba(10,10,84,1) 0%, rgba(150,4,147,1) 100%);

}

h1, h2, h3{
    font-family: 'Ranchers', cursive;
}

p, a{
    font-family: 'Long Cang', cursive;
}
#title-enroll{
    background-image: url(../img_index/subtitulo.jpg);
    color: white;
    text-align: center;
}

.portada{
    width: 20%;
}


#tipos{
    text-align: center;
    border-bottom: 1px solid black;
}

#tipos .atipos{
    display: inline;
    padding: 20px;
}

.atipos{
    text-decoration: none;
    font-weight: bolder;
    color: black;
}

#imgtipos{
    width: 200px;
    height: 200px;
}

div{

    width: 550px;
    margin: auto;
}

#caja1{
    padding-top: 50px;
}


#caja2 {
    display: none;
    padding-top: 50px;
}

.white{
    color: white;
    text-decoration: none;
}