body{
    background-image: url(../img_login/infex.png);
    background-repeat: no-repeat;
    background-size: cover;
}

h1, h2, h3{
    font-family: 'Ranchers', cursive;
    color: white;
}

p, a{
    font-family: 'Long Cang', cursive;
    color: white;
}

#cabezera{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(176,132,19,1) 0%, rgba(10,10,84,1) 0%, rgba(150,4,147,1) 100%);

}

.portada{
    width: 20%;
}

section {

text-align: center;
margin-top: 3%;

}

#ps5{

    width: 50rem;
}

#titulo{ 
    font-family: 'Reggae One', cursive;
    font-size: 3rem;
    background: rgb(249,249,249);
background: radial-gradient(circle, rgba(249,249,249,1) 4%, rgba(242,248,248,1) 16%, rgba(183,157,234,1) 30%, rgba(216,148,233,1) 62%);
    -webkit-background-clip: text; /*Sirve para que el degradado del fondo de aplique al texto*/
    color: transparent; /*Ponemos el texto tranparente*/
    
}

.video{

    text-align: center;
    background-image: url(../fondo.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

#what-learn{
    margin-top: 3%;
 
}

.container{
    text-align: center;
}

li{
    text-align: justify;
    color: white;
    
}

.margin{
    margin-top: 5rem;
}

.img:hover{
    width: 120px;
}

.white{
    color: white;
    text-decoration: none;
}

